.header{
    box-sizing: border-box;
    margin-bottom:20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    gap: 20px;
    padding-left: 20px;
}
h1{
    font-size: 80px;
    color: white;
}
img{
    height: 100%;
    
}